div.add-content {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 2rem;
    background-color: red;
}

div.car-card-rent {
    margin-top: 1rem;
}